snippet lint "disable stylelint check"
/* stylelint-disable ${1:stylelint-check} */
${VISUAL}
/* stylelint-enable $1 */
endsnippet

snippet lint-line "disable stylelint check for single line"
/* stylelint-disable-line ${1:stylelint-check} */
endsnippet
