snippet prtext
Jira Ticket: ${1:XXXX}

## Description & Context, Tradeoffs, Considerations, Screenshots
$0
endsnippet

snippet skipFE
**Reason for missing FE tests**: ${1:explain}
endsnippet

snippet skipBE
**Reason for missing backend tests**: ${1:explain}
endsnippet
