bundle/
config.home/gh/hosts.yml
config.home/karabiner/automatic_backups/
plugged/
vim.ln/spell/
vim.ln/backup/
vim.ln/autoload/plug.vim*
gnupg.ln/sshcontrol
gnupg.ln/random_seed
gnupg.ln/pubring.kbx
gnupg.ln/trustdb.gpg
