snippet test "add qUnit test"
test("$1", function() {
	$0
});
endsnippet

snippet reactclass "Create a React class"
export class ${1:ComponentName} extends React.Component {

	constructor(props) {
		super(props);

		$2
	}

	render() {
		return ${0:<div>$1</div>};
	}
}
endsnippet

snippet import "import definition"
import $1 from '$2';
$0
endsnippet
